@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&family=Raleway:wght@100;200;300;400&display=swap');

*, html {
  font-family: 'Raleway';
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.fade-in {
  animation: fade-in linear 1s;
}

.fade-in-fast {
animation: fade-in 0.7s;
}

.fade-in-slow {
animation: fade-in 1.5s;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.sticky-nav {
  position: sticky;
  top: 0;
}
